
.parent {
    display: flex;
    justify-content: center;
    padding-top: 50px; /* Adds space at the top of the parent container */
    /* Ensure parent takes up sufficient height if needed */
    height: auto; /* Optional: Makes the parent take full viewport height */
}

.center-horizontally {
    width: 88%; 
    overflow-x: auto;
   
}

.progress-container {
  display: flex;
  align-items: center; /* Aligns items vertically centered within the container */
  justify-content: space-between; /* Adjusts spacing between elements to push them apart */
  height: auto;
    height: auto;
    width: auto; /* Ensures the container takes the full width of its parent */
    margin: 5px;
  }
  
  /* progress bar */
  .progress {
    flex: 1; /* Allows progress bars to grow and shrink equally */
    align-items: center; /* Centers progress bars vertically */
    margin: 0 5px;
    width: auto;
  }
  
  .progress-bar {
    background-color: #3c5f85; /* Example color, change as needed */
    color: white;
    height: 100%;
    text-align: center;
    line-height: 60px; /* Centers text vertically within the progress bar */
  }

  .overall-container  {
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    margin: 3px;
  }

/* time input form */
#validationDefault02 {
  width: auto;
}

.scroll-list {
 overflow-y: auto;
  max-height: 330px;


}





  